body {
    background-color: #000;
    font-family: var(--font-dm-sans);
    
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #121212;
}

h1 {
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border-radius: 8px;
    padding: 12px 14px 14px 12px;
    overflow: hidden;
    transition: all 0.5s;
}

.sidebar_navigation .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
    border-radius: 8px;
    padding: 12px 14px;
}

.menu-container {
    overflow: hidden;
    width: 0;
    transition: width 0.5s;
}

.sidebar_navigation:hover .logo {
    width: 200px;
}

.sidebar_navigation:hover .menu-container {
    width: 200px;
}

.sidebar_navigation:hover li {
    transform: translateX(0);
}

.sidebar_navigation .logo img {
    width: 100px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.sidebar nav ul li a .fa {
    margin-right: 10px;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist-content {
    display: flex;
    flex-direction: column;
}

.section-playlist-content .text {
    padding-bottom: 16px;
    color: var(--text-base-white)
}

.section-playlist-content .title {
    font-weight: 700;
    font-size: 14px;
}

.section-playlist-content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist-content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: var(--text-base-white);
    color: var(--text-base-dark);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;   
}

.section-podcasts {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-podcasts .section-podcasts-content {
    display: flex;
    flex-direction: column;
}

.section-podcasts-content .text {
    padding-bottom: 16px;
    color: var(--text-base-white);
}

.section-podcasts-content .title {
    font-weight: 700;
    font-size: 14px;
}

.section-podcasts-content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-podcasts-content .section__podcasts__button {
    display: flex;
    justify-content: center;
    background-color: var(--text-base-white);
    color: var(--text-base-dark);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    width: 150px;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    text-transform: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 20px;
}

.languages .languages__button:hover {
    border: #fff solid 1px;

}